
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    /*display: flex;
    flex-direction: column;*/
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    /*position: absolute;*/
    right: 20px;
    top: -15px;
    }



header {
    background-color: #EAC926;
    width: 100vw;
    height: auto;
    max-width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

main {
  width: 90vw; 
  max-width: 900px; 
}

.encabezado2 {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    width: 100% ;
    flex-direction: column;
  }
  
  .logo,
  .barra-busqueda {
      flex: 1;
      text-align: center;
  }
  .barra-busqueda form{ 
    display: flex;
  }

 .barra-busqueda{
  width: 50%;
 }
  
 .barra-busqueda input {
  width: 100%;
  border-radius: 11px 0px 0px 11px;
 }
 
 .barra-busqueda i {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 0px 11px 11px 0px;

 }
  .barra-busqueda input, .barra-busqueda i {
    font-size: 1rem;
    height: 50px;
    border: none;
  } 


  #logo {
    width: 100%;
  }
 
  .encabezado3 a {
    width: 50%;
  }
  

.nav{
    display: none;
    
}


.encabezado3{
  display: flex;
  flex-direction: row;
}

.items1 {
  justify-content: flex-start;
}

.items2 {
  justify-content: flex-end;
}

#banner{
    width: 100vw;
    height: auto;
    max-width: 100%;
}

/*Menu hamburguesa*/
.burger-menu {
    background-color: #1259c3;
    color: white;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 3rem;
    display:flex;
}

.burger-menu i {
  font-size: 3rem;
}

main{
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 90vw;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}


section{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h2{
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.precios{
    font-size: 18px;
    flex: 30%;
}

.desc{
    font-size: 16px;
    color: #39b54a;
    flex: 70%;
}

img{
    width: 70%;
    height: 70%;
}
h4{
    font-size: 16px;
}

.desc2{
    display: none;
    margin-top: 10px;
    
}
.producto:hover .desc2 {
  display: block;
}


.promo{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 30px;
    font-size: 10px;
}

p{
    font-size: 16px;
}

ul {
    list-style: none;
    padding-left: 20px;
    margin: 0;
  }

/*Iconos del footer*/
#icono-tarjeta2, #icono-regalo, #icono-seguridad{
    color: #03264C;;
    font-size: 48px;
  }
  #icono-tarjeta2:hover, #icono-regalo:hover, #icono-seguridad:hover {
    color: #EAC926
  }


.conjunto-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*Productos*/
.producto{
    margin-bottom: 40px;
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    flex: 1;
    min-width: calc(50% - 10px); 
    margin: 5px;
    box-sizing: border-box;
    flex-basis: 100%
}

  
  .producto:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .precio-descuento {
    display: flex;
    align-items: center;
}


/*Iconos*/
.fas{
    font-size: 2em;
    margin-bottom: 10px;
}

.caja-articulo{
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

article {
    margin: 10px;
  }

  /*Camion*/
.fa-truck {
    color: #39b54a;
    margin-left: 75%;
    border: 1px solid #39b54a;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    transform-origin: center;
    top: 10px;
    right: 10px;
    font-size: 18px;
  }

.producto:hover .fa-truck {
    transform: rotate(-90deg);
  }

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%; 
    padding: 10px;
    box-sizing: border-box; 
  
}

.footer2 {

}

.contenedor-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
  }

  .contenedor-register {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  h1 {
    margin-top: 20px ;
    margin-bottom: 20px; 
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px; 
  }
  
  input {
    margin-bottom: 15px; 
  }

  #submit-button:hover {
    background-color: #0022AA; 
  }

  #link:hover{
    color: #FFF; 
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none; /* Inicialmente oculto */
  }

/* Media query para tablets (ancho mínimo 361px) */
@media (min-width: 361px) {
    article {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      }
    .desc2{
      display: none;
     margin-top: 10px;
        
    }
    .producto:hover .desc2 {
      display: block;
    }     
    .nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }
      
      .nav ul {
        display: flex; 
        list-style: none; 
        padding: 0;
        margin: 0;
      }

      .nav ul li {
        margin-right: 10px;
        padding: 0px 10px 
      }
      
      .nav ul li:last-child {
        margin-right: 0; 
      }
      .barra-busqueda {
        text-align: center;
       /* margin-left: 20%;*/
        padding: 10px;
        max-width: 50%; 
      }
      .promo{ 
        flex-direction: column;
        width: 30%;
      }

      .encabezado2{
        flex-direction: row;
        justify-content: space-evenly;
      }

    .burger-menu {
        display:none;
    }
    .producto {
      flex-basis: calc(50% - 10px); 
  }
  .encabezado3{
    width: 60%;
  }

  .footer2 div { 
    padding: 10px 30px;
  }

  }
  
  /* Media query para pantallas de escritorio (ancho mínimo 769px) */
  @media (min-width: 769px) {
    .producto {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      flex-basis: calc(25% - 10px); 
      min-width: auto;
      }
    
      .desc2{
        display: none;
       margin-top: 10px;
          
      }
      .producto:hover .desc2 {
        display: block;
      }     
    .nav {
        display: flex;
        justify-content: space-between; 
        width: 100%;
        align-items: center;
      }
      
      .nav ul {
        display: flex; 
        list-style: none; 
        padding: 0;
        margin: 0;
        width: 100%;
      }
      
      .nav ul li {
        font-size: 16px;
      }
      
      .nav ul li:last-child {
        margin-right: 0;
      }
    .burger-menu {
        display:none;
    }

    footer {
      display: flex;
      flex-wrap: nowrap; 
      justify-content: space-between;
      align-items: center;
      bottom: 0;
    }
  
    .footer2 {
      display: flex;
      flex-wrap: nowrap; 
      justify-content: space-evenly;
      align-items: center;
<<<<<<< Updated upstream
=======
    
    }

    .footer2 div {
      padding: 0px 30px;
    }

    .copyright{
      margin-top: 30px;
>>>>>>> Stashed changes
    }
  }

